* {
    font-family: Arial, Helvetica, sans-serif;
}
html {
    font-size: 18px;
}
body {
    background: #FAFAFA;  
}
.navbar {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid grey;
    border-bottom-width: 70%;
    height: 50px;
    padding: 0.5rem 0;
}
.form-inline {
    margin-top: -15px;  
}
.form-control {
    margin-top: -15px;
    width: 23%;
    height: 2rem;
    background-image: url(../img/search2.svg);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0rem 1rem;
    background-color: #FAFAFA;
}
.form-control:read-write {
    background-color: #FAFAFA;
}
.navbar-nav {
    margin-top: -15px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.nav-icon {
    margin: 0 2px 0 2px;
}
.header-wrap  {
    display: flex;
}
.main-img {
    padding: 5px;
    width: 100%;
    object-fit: scale-down;
    max-width: 150px;
    max-height: 150px;
    min-width: 70px;
    margin: 1rem 0 auto 0;
}
.header-aside {
    margin: 2vh 0 2vh 1vh;
    padding: 0;
}
.header-aside-1 {
    width: 100%;
    margin-bottom: 2vh;
}
.header-aside-2 {
    width: 100%;
    margin-bottom: 2vh;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
}
.btn {
    height: 35px;
    text-align: center;
    padding: 3px 15px;
}
.btn-follow {
    margin-left: 3vh;
    margin-right: 1vh;
}
.btn-triangle {
    background-image: url(../img/icon.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-right: 1vh;
}
.text {
    font-size: 1.2rem;
    font-weight: normal;
}
.header-aside-text {
    margin: 0 0.5rem;
}
.circle-wrapper {
    width: auto;
}
.circle {
    width: 100%;
    padding: 5px;
    min-width: 60px;
}
.title-circle {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.main-container {
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0;
}
.main-post {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
}
.main-title-img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    align-items: baseline;
}
.main-wrapper {
    padding: 0 10px;
    flex: 30%;
    max-width: 100%;
}
.main-wrapper .main-wrapper-img {
    margin-top: 8px;
    vertical-align: middle;
}
.main-wrapper-img {
    max-width: 100%;
}
@media (max-width: 1000px) {
    html {
        font-size: 16px;
    }
    .form-control {
        width: 30%;
    }
    .main-wrapper {
        flex: 50%;
    } 
    .circle {
        max-width: 120px;
    }
}
@media (max-width: 750px) {
    html {
        font-size: 12px;
    }
    .main-wrapper {
        flex: 100%;
    }
    .btn {
        height: 25px;
    }
} 
@media (max-width: 600px) {
    
    .navbar {
        width: 100%;
    }
    .navbar-brand {
        max-width: 100px;
    }
    .form-control {
        width: 25%;
    }
@media (max-width: 380px) {
    html {
        font-size: 11px;
    }
    .nav-main-logo {
        max-width: 90px;
        margin: 0;
    }
    .nav-icon {
        max-width: 18px;
    }
    .form-control {
        margin-top: -8px;
    }
    .navbar-nav {
        margin-top: -5px;
    }
    .main-img {
        width: 122%;
    }
    .btn-follow {
        margin-left: 0.5rem;
    }
}