* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #FAFAFA;
    max-width: 1440px;
}

.navbar {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid grey;
    border-bottom-width: 70%;
    height: 50px;
}
.navbar-brand {
    
}
.form-inline {
    margin-top: -15px;
    
}
.form-control {
    margin-top: -15px;
    width: 23%;
    height: 2rem;
    background-image: url(../img/search2.svg);
    background-size: 90px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 0rem 1rem;
    background-color: #FAFAFA;
}
.form-control:read-write {
    background-color: #FAFAFA;
}
.navbar-nav {
    margin-top: -15px;
    flex-direction: row;
    width: 12%;
    justify-content: space-between;
    align-items: baseline;
}
.header-wrap  {
    display: flex;
}
.main-img {
    margin-top: 3vh;
    width: 154px;
    height: 153px;
}
.header-aside {
    margin: 2vh;
    padding: 0;
}
.header-aside-1 {
    width: 100%;
    margin-bottom: 2vh;
}
.header-aside-2 {
    width: 100%;
    margin-bottom: 2vh;
    flex-wrap: wrap;
}
.title {
    font-size: 1.5rem;
    font-weight: bold;
}
.btn-follow {
    padding: auto;
    height: 30px;
    margin-left: 3vh;
    margin-right: 1vh;
}
.btn-triangle {
    background-image: url(../img/icon.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    margin-right: 1vh;
    height: 30px;
}
.text {
    font-size: 1.2rem;
    font-weight: normal;
}
.text:nth-child(odd) {
    font-weight: bold;
    margin-right: 0.5vh;
}
.text:nth-child(even) {
    margin-right: 1vh;
}
.circle-wrapper {
    justify-content: center;
}
.circle {
    max-width: 79px;
}
.title-circle {
    font-size: 1.5rem;
    margin: 1vh 1vh;
    font-weight: bold;
}
.main-container {
    flex-wrap: wrap;
}
.main-post {
    width: 100%
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-title-img {
    width: 22px;
    height: 22px;
    margin-right: 5px;
    align-items: baseline;
}
.main-wrapper {
    padding: 0;
}
.main-wrapper-img {
   
    margin: 2vh;
}

@media (max-width: 1000px) {
    .form-control {
        width: 30%;
    }
    .main-img {
        width: 140px;
    }
   
} 
@media (max-width: 600px) {
    .navbar {
        width: 90%;
    }
    .form-control {
        width: 25%;
    }
    .main-post {
        flex-direction: column;
        margin: 0 auto;
    }
    .main-img {
        width: 110px;
        height: 110px;
    }
    
}
